<div class="chat-header">
  <div class="left_header">
    <div class="room_name">
      hogehuga
    </div>
  </div>
  <div class="right_header">
    <div class="end_btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message_box">
    <div class="message_info">
      <div class="user_name">
        Tom
      </div>
      <div class="time">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="message">
      おはよう
    </div>
  </div>
  <div class="message_box">
    <div class="message_info">
      <div class="user_name">
        Tom
      </div>
      <div class="time">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="message">
      おはよう
    </div>
  </div>
</div>

<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>